<!-- Content for -->
<% content_for :title do "Blog" end %>
<% content_for :description do "Stuffs about my life and my work" end %>

<!-- Posts loop -->
<% if @posts.empty? %>
  <p>No posts found.</p>
<% else %>
  <!-- The posts loop -->
  <section class="posts">
    <% @posts.each do |post| %>
      <article>
        <h2>
          <a href="/blog/<%= post.created_at.year.to_s + '/' + post.created_at.month.to_s + '/' + post.created_at.day.to_s + '/' + post.slug %>"><%= post.title %></a>
          <span class="date"><%= post.created_at.strftime("%B %d, %Y") %></span>
        </h2>
        <%= post.body %>
      </article>
      <hr />
    <% end %>
  </section>

  <!-- Pagination links -->
  <div class="pagination">
    <% if @posts.current_page == 1 %>
      <p class="right"><a href="/blog/<%= (@posts.next_page) %>">Next page &rarr;</a></p>
    <% elsif @posts.current_page == @posts.total_pages %>
      <p class="left"><a href="/blog/<%= (@posts.previous_page == 1) ? nil : @posts.previous_page %>">&larr; Previous page</a></p>
    <% else %>
      <p class="left"><a href="/blog/<%= (@posts.previous_page == 1) ? nil : @posts.previous_page %>">&larr; Previous page</a></p>
      <p class="right"><a href="/blog/<%= (@posts.next_page) %>">Next page &rarr;</a></p>
    <% end %>
    <div class="clearfix"></div>
  </div>

  <hr />
<% end %>

